.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Botón de submit más atractivo */
html .modal .modal-content button[type="button"] {
    background-color: var(--portland-orange);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: var(--radius-10);
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: var(--bittersweet);
}

#tablaModal .modal-content {
    width: 90%;
    max-width: 800px; /* Ajusta este valor según sea necesario */
}

.table-container {
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

textarea#descripcion {
    width: 100%;
    height: 100px;
    resize: vertical;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#petTable {
    width: 100%;
    border-collapse: separate;
}

#petTable td,
th {
    padding: 10px 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table td {
    background-color: #fff;
    border: 1px solid #ddd;
}

.modal-content button[type="eliminar"] {
    background-color: red; /* Color rojo */
    color: white; /* Color del texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: var(--radius-10);
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="eliminar"]:hover {
    background-color: darkred; /* Un tono más oscuro de rojo para el hover */
}

.modal-content button[type="editar"] {
    background-color: green; /* Color rojo */
    color: white; /* Color del texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: var(--radius-10);
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="editarr"]:hover {
    background-color: darkgreen; /* Un tono más oscuro de rojo para el hover */
}

/* Contenedor de botones alineados horizontalmente */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0 20px;
}

/* Ajuste del diseño del checkbox */
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-row[style*="align-items: center;"] {
    flex-direction: row; /* Alinea el contenido en fila */
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espaciado entre el texto y el checkbox */
}

/* Estilo del checkbox */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

#confirmModal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#confirmModal h3 {
    margin-bottom: 10px;
    color: #333;
}

#confirmModal p {
    margin-bottom: 20px;
    color: #666;
}

#confirmModal .button-group button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
