.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#tablaModal .modal-content {
    width: 90%;
    max-width: 700px; /* Ajusta este valor según sea necesario */
}

.table-container {
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

textarea#descripcion {
    width: 100%;
    height: 100px;
    resize: vertical;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#petTable {
    width: 100%;
    border-collapse: separate;
}

#petTable td, th {
    padding: 10px 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table td {
    background-color: #fff;
    border: 1px solid #ddd;
}
