@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    background: #f0f5fd;
}

.left-section{
    background: #fff;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 25px 10px;
    transition: all 0.3s ease;
}

.left-section h2{
    color: #364670;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section .sidebar .item,
.left-section .sign-out{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #364670;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover{
    color: #1976d2;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3{
    font-size: 15px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i{
    font-size: 22px;
}

.main{
    flex: 6;
    padding: 25px;
}

.main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .search{
    background: #fff;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main .header .search button{
    font-size: 20px;
    border: none;
    background: transparent;
}

.main .header .search input{
    padding: 4px 6px;
    font-size: 14px;
    border: none;
    outline: none;
    width: 100%;
}

.main .header .search i{
    cursor: pointer;
}

.main .header .icon-btns{
    display: flex;
    gap: 8px;
}

.main .header .icon-btns i{
    font-size: 20px;
    background: #1976d2;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .header .icon-btns i:hover{
    background: #0d47a1;
}

.main .header .icon-btns i#menu-btn{
    display: none;
}

.main .separator{
    margin: 35px 0 20px;
    font-weight: 500;
    color: #364670;
}

.main .quick-access{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.main .quick-access .item{
    background: #fff;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main .quick-access .item:hover{
    box-shadow: none;
    border-color: #999;
}

.main .quick-access .item i{
    font-size: 46px;
    padding: 10px;
    border-radius: 16px;
}

.main .quick-access .item:nth-child(1) i,
.main table tbody tr:nth-child(1) td.icon i{
   color: #1976d2; 
   background: #e6e4ec;
}

.main .quick-access .item:nth-child(2) i,
.main table tbody tr:nth-child(2) td.icon i{
    color: #1d92f1; 
    background: #ddeffd;
}

.main .quick-access .item:nth-child(3) i,
.main table tbody tr:nth-child(4) td.icon i{
    color: #ffd12c; 
    background: #fff8df;
}

.main .quick-access .item:nth-child(4) i,
.main table tbody tr:nth-child(3) td.icon i{
    color: #3bc963; 
    background: #e2f7e8;
}

.main .quick-access .item h5{
    font-size: 18px;
    font-weight: 500;
    color: #364670;
    margin: 15px 0 8px;
}

.main .quick-access .item p{
    color: #999;
    font-size: 14px;
}

.main table{
    background: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 14px;
    border-spacing: 0 8px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.main table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.main table tbody tr.selected,
.main table tbody tr:hover{
    border-radius: 14px;
    background: #e8eaf6;
}

.main table tbody tr td{
    padding: 16px;
}

.main table tbody tr td.icon i{
    font-size: 20px;
    background: #e6e4ec;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.main table tbody tr.selected td.icon i,
.main table tbody tr:hover td.icon i{
    border-color: #999;
}

.main table tbody tr td.name{
    font-weight: 500;
    font-size: 14px;
    color: #364670;
}

.main table tbody tr td.extension,
.main table tbody tr td.size{
    color: #999;
    font-size: 14px;
}

.main table tbody tr td.more i{
    font-size: 20px;
}

.main table tbody tr td:first-child{
    border-radius: 14px 0 0 14px;
    padding-left: 15px;
}

.main table tbody tr td:last-child{
    border-radius: 0 14px 14px 0;
}

.right-section{
    flex: 2;
    padding: 25px 25px 15px 10px;
}

.right-section .profile{
    background: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.right-section .profile .info{
    display: flex;
    align-items: center;
    gap: 14px;
}

.right-section .profile .info img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.right-section .profile .info .account h5{
    font-size: 15px;
    margin-bottom: 4px;
    cursor: pointer;
}

.right-section .profile .info .account p{
    font-size: 13px;
    color: #999;
}

.right-section .profile > i{
    font-size: 24px;
    color: #364670;
    cursor: pointer;
}

.right-section .widgets{
    display: flex;
    flex-direction: column;
}

.right-section .widgets .disk{
    background: #fff;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    padding: 0 25px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.right-section .widgets .disk .progress{
    display: flex;
    justify-content: center;
}

.right-section .widgets .disk .progress .progress-bar{
    width: 150px;
    height: 150px;
    background: radial-gradient(closest-side, #fff 79%, transparent 80% 100%), conic-gradient(#1976d2 25%, #e9e4ff 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;
    border-radius: 50%;
}

.right-section .widgets .disk .progress .progress-bar::before{
    content: "25%";
    font-size: 22px;
    font-weight: bold;
}

.right-section .widgets .disk .progress .progress-bar::after{
    content: "used";
    font-size: 13px;
    color: #999;
}

.right-section .widgets .disk .info h5{
    color: #999;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.right-section .widgets .disk h5 span{
    color: #364670;
}

.right-section .widgets .disk .info p{
    font-size: 14px;
    color: #999;
    font-weight: 500;
}

.right-section .widgets .bottom{
    display: flex;
    flex-direction: column;
}

.right-section .widgets .bottom button{
    border: none;
    background: #1976d2;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    padding: 14px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .widgets .bottom button:hover{
    background: #0d47a1;
}

.right-section .widgets .bottom .premium{
    background: #fff;
    padding: 25px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    transition: all 0.3s ease;
}

.right-section .widgets .bottom .premium:hover{
    box-shadow: none;
    border-color: #999;
}

.right-section .widgets .bottom .premium .title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-section .widgets .bottom .premium .title h5{
    font-size: 20px;
    font-weight: 500;
}

.right-section .widgets .bottom .premium .title i{
    font-size: 30px;
    padding: 10px;
    background: #1976d2;
    color: #fff;
    border-radius: 14px;
}

.right-section .widgets .bottom .premium p{
    color: #999;
    font-size: 16px;
    line-height: 1.4rem;
}

@media screen and (max-width: 1230px) {
    
    .left-section{
        width: 90px;
    }

    .left-section h2{
        font-size: 17px;
    }

    .left-section .sidebar .item{
        justify-content: center;
    }

    .left-section .sidebar .item h3,
    .left-section .sign-out h3{
        display: none;
    }

    .left-section .sidebar .item i,
    .left-section .sign-out i{
        font-size: 26px;
    }

    .main .quick-access{
        justify-content: space-between;
    }

    .main .quick-access .item{
        width: 23%;
    }

    .main .quick-access .item i{
        font-size: 36px;
    }

    .main .quick-access .item h5{
        font-size: 16px;
    }

    .main .quick-access .item p,
    .right-section .profile .info .account p{
        font-size: 12px;
    }

    .right-section .widgets .disk{
        height: 270px;
    }

    .right-section .widgets .disk .progress .progress-bar{
        width: 120px;
        height: 120px;
    }

    .right-section .widgets .disk .info h5{
        font-size: 18px;
    }

    .right-section .widgets .bottom button{
        font-size: 17px;
        padding: 12px;
    }

    .right-section .widgets .bottom .premium .title h5{
        font-size: 17px;
    }

    .right-section .widgets .bottom .premium .title i{
        font-size: 26px;
    }

    .right-section .widgets .bottom .premium p{
        font-size: 14px;
    }

}

@media screen and (max-width: 992px) {
    
    .left-section{
        position: absolute;
        width: 160px;
        left: -160px;
        z-index: 1000;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .left-section .sidebar .item{
        justify-content: start;
    }

    .left-section .sidebar .item h3,
    .left-section .sign-out h3{
        display: block;
    }

    .left-section .sidebar .item i,
    .left-section .sign-out i{
        font-size: 22px;
    }

    .main,
    .right-section{
        padding: 15px;
    }

    .main .header{
        gap: 10px;
    }

    .main .header .icon-btns i#menu-btn{
        display: block;
    }

    .main .quick-access .item p{
        text-align: center;
    }

    .main table tbody tr td.name,
    .main table tbody tr td.extension,
    .main table tbody tr td.size{
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {
    
    body{
        flex-direction: column;
    }

    .main{
        padding: 26px 15px 0;
    }

    .main .header{
        justify-content: start;
    }

    .main .header .search{
        width: 30%;
    }

    .right-section .profile{
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .right-section .widgets{
        flex-direction: row;
        gap: 30px;
    }

    .right-section .widgets .disk{
        width: 48%;
    }

    .right-section .widgets .bottom{
        justify-content: center;
        gap: 30px;
    }

    .right-section .widgets .bottom button{
        margin: 0;
    }

}

@media screen and (max-width: 576px) {
    
    .main{
        padding: 100px 15px 0;
    }

    .main .header .search{
        width: 68%;
    }

    .right-section .profile{
        width: 94%;
    }

    .right-section .widgets .disk .info h5{
        font-size: 14px;
    }

    .right-section .widgets .disk .info p{
        font-size: 13px;
    }

}

main {
  width: 100%; /* Asegura que el main use todo el ancho */
}

main > article, .hero, .main {
  width: 100%; /* Establece que cada sección tome todo el ancho disponible */
  max-width: none; /* Elimina cualquier restricción de max-width que pudiera aplicarse */
}

.container {
  max-width: 100%; /* Permite que los contenedores internos se expandan completamente */
  padding: 0 20px; /* Ajusta el padding según necesario */
}

/* Ajustes adicionales para asegurar que la sección hero cubra todo el ancho y altura deseada */
.hero {
  height: auto; /* Ajusta la altura según el contenido o establece una altura fija si es necesario */
  /*min-height: 300px;  Asegura que tenga una altura mínima para visibilidad */
  background-position: center; /* Centra el fondo si es una imagen */
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la sección */
}

#home{
  height: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 65px; /* Ajusta este valor para alinear con la parte inferior del botón de perfil */
  left: 0;
  background-color: #fff;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 100%;
  z-index: 1000;
}

.profile-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 8px; /* Bordes redondeados */
}

.profile-dropdown ul li {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px; /* Bordes redondeados */
}

.profile-dropdown ul li:hover {
  background-color: #f1f1f1;
  border-radius: 8px; /* Bordes redondeados */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    backdrop-filter: blur(8px);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    position: relative;
    width: 80%; /* Adjust this value based on your layout needs */
    max-width: 500px; /* Ensures modal does not stretch too far */
    display: flex;
    flex-direction: column; /* Ensures stacked elements within the modal */
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Helps with vertical centering */
    padding: 20px;
    gap: 20px; /* Espaciado uniforme entre elementos del formulario */
  }

.modal-content form {
    display: flex; /* Apply flexbox layout to form */
    flex-wrap: wrap;  /* Allows form items to wrap */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Align items vertically */
}

.modal-content #sbt {
    display: flex; /* Using flex to align buttons */
    justify-content: center; /* Centering buttons horizontally */
    width: 100%; /* Taking full width to center correctly */
    margin-top: 5px; /* Optional: adds some space above the buttons */
}

#reserveForm button {
    margin: 0 10px; /* Giving equal spacing on both sides */
    flex: 1; /* Each button takes equal space */
}

/* Agregamos estilos para los botones */
.button {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    cursor: pointer;
    width: 250px;
}

.button:hover {
    box-shadow: none;
    border-color: #999;
}

.button i {
    font-size: 46px;
    padding: 10px;
    border-radius: 16px;
}

.button h5 {
    font-size: 18px;
    font-weight: 500;
    color: #364670;
    margin: 15px 0 8px;
}

.button p {
    color: #999;
    font-size: 14px;
}

.separator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separator h3,
.separator button,
.separator input {
    margin-left: auto;
}


#searchInput {
    padding: 5px;
    margin-right: 10px; /* Espacio entre el input y el botón */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reporte {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: box-shadow 0.3s;
}
.reporte:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.reporte-resumen {
    cursor: pointer;
    font-weight: bold;
}
.reporte-detalle {
    display: none;
    margin-top: 10px;
}
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
